@model List<ExperienceListViewModel>

<h3 class="resume-title">İş Deneyimi</h3>

@foreach (var experience in Model)
{
    <div class="resume-item">
        <h4>@experience.Title</h4>
        <h5>@experience.Year</h5>
        <p><em>@experience.Address</em></p>
        <ul>
            @* <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
            <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
            <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
            <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> *@
            @Html.Raw(experience.Description)
        </ul>
    </div>
}
