@model Testimonial
@{
    ViewBag.Title = "Admin | Referans Ekle ";
}
<main id="main" class="main" style="min-height: 550px;">
    <div class="pagetitle">
        <h1>Referanslar</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Testimonial" asp-action="Index">Referanslar</a></li>
                <li class="breadcrumb-item active">Referans Ekle</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Referans Ekleyin</h5>
                        <!-- General Form Elements -->
                        <form asp-area="Admin" asp-controller="Testimonial" asp-action="Add" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="row mb-3">
                                <label asp-for="FirstName" class="col-sm-2 col-form-label">Kişi Adı</label>
                                <div class="col-sm-10">
                                    <input asp-for="FirstName" name="FirstName" type="text" class="form-control">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="LastName" class="col-sm-2 col-form-label">Kişi Soyadı</label>
                                <div class="col-sm-10">
                                    <input asp-for="LastName" name="LastName" type="text" class="form-control">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="Job" class="col-sm-2 col-form-label">Kişi Mesleği</label>
                                <div class="col-sm-10">
                                    <input asp-for="Job" name="Job" type="text" class="form-control">
                                    <span asp-validation-for="Job" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="Message" class="col-sm-2 col-form-label">Referans Açıklaması</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="Message" name="Message" type="text" class="form-control">
                                    </textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Referansı Ekle</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>