@model PortfolioUpdateViewModel

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Portfolyo Bilgileri</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Portfolio" asp-action="Index">Portfolyolar</a></li>
                <li class="breadcrumb-item active">Portfolyo Güncelleme</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Portfolyoyu Güncelle</h5>
                        @{
                            @if (Model.Image != null)
                            {
                                <img src="~/images/@Model.Image.FileName" class="mb-3" alt="@Model.Title" style="width:8em;" />
                            }
                        }
                        <!-- General Form Elements -->
                        <form asp-area="Admin" asp-controller="Portfolio" asp-action="Update" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input asp-for="Id" name="Id" type="hidden" class="form-control">
                            <div class="row mb-3">
                                <label asp-for="Title" class="col-sm-2 col-form-label">Portfolyo Başlığı </label>
                                <div class="col-sm-10">
                                    <input asp-for="Title" name="Title" type="text" class="form-control">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="Photo" class="col-sm-2 col-form-label">Portfolyo Fotoğrafı</label>
                                <div class="col-sm-10">
                                    <input asp-for="Photo" name="Photo" accept="image/*" class="form-control" type="file" id="formFile">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="Description" class="col-sm-2 col-form-label">Portfolyo Açıklaması</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="Description" name="Description" class="form-control" style="height: 100px"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Portfolyoyu Güncelle</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>

        </div>
    </section>

</main>