@model List<EducationListViewModel>

<h3 class="resume-title">Eğitim</h3>

@foreach (var education in Model)
{
    <div class="resume-item">
        <h4>@education.Title</h4>
        <h5>@education.Year</h5>
        <p><em>@education.Address</em></p>
        <p>@Html.Raw(education.Description)</p>
    </div>
} 