@model Summary

<h3 class="resume-title">Özet</h3>
<div class="resume-item pb-0">
    <p><em>@Model.Description</em></p>
    <ul>
        <li>@Model.Address</li>
        <li>@Model.PhoneNumber</li>
        <li>@Model.Email</li>
    </ul>
</div>