@model UserViewModel

<img src="~/images/@Model.Image.FileName" alt="@Model.FirstName @Model.LastName" class="img-fluid rounded-circle">
<h1 class="text-light"><a href="#">@Model.FirstName @Model.LastName</a></h1>